<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="min-height: 100%; background: #f3f3f3;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
</head>
<body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 16px; margin: 0; padding: 0;">

<table class="body" data-made-with-foundation="" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: normal; line-height: 19px; font-size: 16px; background: #f3f3f3; margin: 0; padding: 0;" bgcolor="#f3f3f3"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="center" align="center" valign="top" style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: normal; line-height: 10px; font-size: 16px; margin: 0; padding: 0;">
  <center data-parsed="" style="width: 100%; min-width: 580px;">
    <div class="header text-center" align="center" style="background: #21ba45;">
      <table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; background: #21ba45; margin: 0 auto; padding: 16px 0;" bgcolor="#8a8a8a"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: normal; line-height: 19px; font-size: 16px; margin: 0; padding: 16px 0;" align="left" valign="top">
        <table class="row collapse" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; padding: 0;"><tbody><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th class="small-6 large-6 columns first" style="width: 298px; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 16px; margin: 0 auto; padding: 0;" align="left">
          <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
            <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
              <th style="color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: normal; text-align: center; line-height: 19px; font-size: 16px; margin: 0; padding: 0;" align="left">
                <a href="#" class="site_name" style="padding-left: 0; font-size: 30px; font-weight: bold; text-decoration: none; color: black;">DJ TEST</a>
              </th>
            </tr>
          </table>
        </th>
        </tr></tbody></table></td>
      </tr></tbody></table><br /><br /></div>
    <table class="container text-center" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 580px; background: #fefefe; margin: 0 auto; padding: 0;" bgcolor="#fefefe">
      <tbody>
      <tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: normal; line-height: 19px; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
        <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; padding: 0;">
          <tbody>
          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
            <th class="small-12 large-12 columns first last" style="width: 564px; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 16px; margin: 0 auto; padding: 0 16px 16px;" align="left">
              <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;">
                <tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 16px; margin: 0; padding: 0;" align="left"> <br />
                  <h2 style="color: inherit; font-family: Helvetica,Arial,sans-serif; font-weight: normal; text-align: center; line-height: 1.3; word-wrap: normal; font-size: 28px; margin: 0 0 10px; padding: 0;" align="left">Hello, <%= @order.owner_email %></h2>
                  <table style="width: 100%;"><tbody><tr>
                    <td style="padding-right: 10px; padding-left: 20px; text-align: center;">
                      <p>Your order state was changed to <%= @order.state%></p>

                      <p>Have a great day!</p>
                    </td>
                  </tr>
                  </tbody>
                  </table>
                </th>
                </tr>
              </table>
            </th>
          </tr>
          </tbody>
        </table>
      </td>
      </tr>
      </tbody>
    </table>
  </center>
</td>
</tr>
</table>
</body>
</html>
